<!--end--><!--end--><!--end-->
<div class="footer">
	<a href="http://www.henrongyi.com/">很容易软件商城</a> | <a href="http://www.csix.cn/itxuanxing/">产品选型</a> | <a href="http://www.csix.cn/itwangzhi/">企业黄页</a> | <a href="#">在线商城</a> | <a href="http://www.csix.cn/v5_gywm/wzdh.shtml">采购平台</a> | <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=4006919101&amp;site=qq&amp;menu=yes" target="_blank">产业园区</a> | <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=4006919101&amp;site=qq&amp;menu=yes" target="_blank">关于软交所</a> | <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=4006919101&amp;site=qq&amp;menu=yes" target="_blank">帮助中心</a>
    <div class="text">
		<p>版权所有北京软件和信息服务交易所 京ICP证120704号 京公网安备 11010802008614号</p>
		<p>Copyright&copy;2011 Beijing Software and Information Services Excharge co., Ltd All Rights Resrved Powered by Cmstop</p>
	</div>
</div>
<!--end--><!--end--><!--end-->




<!--<a href="/sitemap.html">网站地图</a>  <{:F('WebCountCode')}>--> 
