<div class="tqdtop">
	<div class="tqdtopbox">
    	<div class="tqdtopboxdiv">
        	<a href="<{:F('SiteDomain')}>" class="tqdlogo"></a>
        	
            <div class="div">
            	<p><span>你好,</span><if condition='$username'> <{$username}> , <a href="<{:U('/Member/index')}>" class="a1">会员中心</a>  , <a href="<{:U('Home/Member/logout')}>">退出</a><else />游客</span></if> | &nbsp;&nbsp;&nbsp;<a href="">在线咨询</a></p>
                <p>服务热线：<span>4006-9191-01/05</span></p>
            </div>
            
        </div>
    </div>
</div>
